@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme {
   --color-primary-50:  #FFE5E6;
   --color-primary-100: #FFB8BA;
   --color-primary-200: #FF8A8D;
   --color-primary-300: #FF5C60;
   --color-primary-400: #FF2E33;
   --color-primary-500: #F50006;
   --color-primary-600: #D60005;
   --color-primary-700: #B80004;
   --color-primary-800: #E40002;
   --color-primary-900: #8A0002;

   --color-primary: var(--color-primary-800);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}
